#Documentos à reunir

	- Certificado ou diploma do ensino médio;
	- Cópia do diário oficial;
	- Histórico escolar do ensino médio;
	- Certidão de casamento;
	- Certificado de reservista;
	- Comprovante de votação;
	- Títudo de eleitor;